<head>
<script>
    WEB_SOCKET_SERVER_HOST = "localhost"; //"iwebpush.herokuapp.com";//"localhost"
    if ("WebSocket" in window) {
 
        console.log('WebSocket is supported by your browser.');
 
        var serviceUrl = 'ws://' + WEB_SOCKET_SERVER_HOST + ':9876/';
        var protocol;
        var socket = new WebSocket(serviceUrl, protocol);
 
        socket.onopen = function () {
            console.log('Connection Established!');
        };
 
        socket.onclose = function () {
            console.log('Connection Closed!');
        };
 
        socket.onerror = function (error) {
            console.log('Error Occured: ' + error);
        };
 
        socket.onmessage = function (e) {
            if (typeof e.data === "string") {
//frame_id:0, size:200, x:100 , y:100, color:'5AA0DC', text:'updated'
                var frame_info = eval(e.data);
		if (!frame_info.text) //frame_id
			return;
		var frame;// = document.getElementById(frame_info.frame_id);
                if (!frame){
		   frame  = document.createElement('div');
	           frame.setAttribute('style', 'background-color:' + frame_info.color + 
			";width:" + frame_info.size + 
			";height:" + frame_info.size +
			";position: absolute" +
			";left:" + frame_info.x +
			";top:" + frame_info.y);
                   var textContent = document.createTextNode(frame_info.text);
                   frame.appendChild(textContent);
                   document.body.appendChild(frame);		
		}
            }
            else if (e.data instanceof ArrayBuffer) {
                console.log('ArrayBuffer received: ' + e.data);
            }
            else if (e.data instanceof Blob) {
                console.log('Blob received: ' + e.data);
            }
        };
    }
</script>
</head>
<body>
It's dashboard!
</body>
