<form action="/update_frame" method="post"> 
 size:  <input type="text" name="size"> <br/>
 x: <input type="text" name="x"> <br/>
 y: <input type="text" name="y"> <br/>
 text: <input type="text" name="text"> <br/>
 color: <input type="text" name="color" value="#5AA0DC"> <br/>  
  <input type="submit" text="add content">  
</form>  
